<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/edit.css">
  <title>Edit Wrestler</title>
</head>

<body>
  <div class="content">
    <h1>Edit</h1>
      <div class="ranks">
        <div class="grid-content">
          <div class="image-wrestler"><img src="/images/<%= pi.name %>.png" /></div>
          <figcaption>
            <div class="grid-caption">
              <h4 class="grid-caption-text">
                <%= pi.name %>
              </h4>
            </div>
          </figcaption>
        </div>
      </div>
      <div class="edit-form">
        <form action="/update/<%= pi._id %>" method="POST">
          <div class="name-form">Name: <input type="text" value="<%= pi.name %>" name="name"></div>
          <div class="name-form">Turn champion:
            <div class="checkbox-form"><input type="checkbox" value="true" name="champion"></div>
          </div>
          <div class="name-form">Main division:
            <div class="checkbox-form"><input type="checkbox" value="true" name="main"></div>
          </div>
          <div class="name-form">Company: <input type="text" value="<%= pi.company %>" name="company"></div>
          <button type="submit">Edit</button>
        </form>
      </div>
  </div>
</body>

</html>