<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista PIs</title>
</head>
<body>
  <h2>Lista de Pontos de Interesse<h2>
    <div>
      <button><a href="/api/createPagWrestler">Adicionar</a></button> <!-- TODO: queria o botão na esquerda da tabela -->
    </div>
    <table border="1">
    <thead>
      <tr>
        <td>Name</td>
        <td>Genre</td>
        <td>Points</td>
        <td>Champion</td>
      </tr>
    </thead>
    <tbody>
      <% pis.forEach(function(data) { %>
        <tr>
          <td><%= data.name %></td>
          <td><%= data.genre %></td>
          <td><%= data.points %></td>
          <td><%= data.champion %></td>
          <td><a href="/api/edit/<%= data._id %>">Edit</a> | 
            <a onclick="confirmation('Delete record?!','/api/delete/<%= data._id %>')" 
                href=#>Delete</a></td>
        </tr>
     <% }) %>
   </tbody>
   <button><a href="/">Back</a></button>
   <script>
    function confirmation(msg, url) {
      if(confirm(msg)) {
        window.location.href = url;
      }else{ false; }
    }
    </script>
</body>
</html>