<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/ranks.css">
  <title>Rank</title>
</head>

<body>
  <div class="content">
    <h1>Ranks</h1>
        <div id="divisions">
          
        </div>
        <table border="1">
          <thead>
            <tr>
              <td>Name</td>
              <td>Genre</td>
              <td>Points</td>
              <td>Champion</td>
            </tr>
          </thead>
          <tbody>
            <% pis.forEach(function(data) { %>
              <tr>
                <td><a href="/api/show?name=<%= data.name %>">
                    <%= data.name %>
                  </a></td>
                <td>
                  <%= data.genre %>
                </td>
                <td>
                  <%= data.points %>
                </td>
                <td>
                  <%= data.champion %>
                </td>
              </tr>
              <% }) %>
          </tbody>
          Total:<%=pis.length %>
            <!-- TODO: colocar do lado da tabela -->
            <button><a href="/match">Match</a></button>
  </div>
  <script type="text/javascript" src="/scripts/champion.js"></script>
  <script>champion();</script>
</body>

</html>